<!doctype HTML>
<head>
  {% block head -%}
  <meta charset="utf-8">
  <title>{% block title %}{{ page.title }}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width" />
  <meta name="disabled-adaptations" content="watch" />
  <link rel="stylesheet" type="text/css" href="{{ get_url(path="css/style.css") }}" />
  {%- endblock head %}
</head>
<body>
  <div class="container">
    <h1>
      @Watch
      <br />
      <span class="subtitle">Internet Time, on your wrist</span>
    </h1>
    {% block body %}{% endblock body %}
  </div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/support">Support</a></li>
      <li><a href="/privacy-policy">Privacy</a></li>
    </ul>
  </nav>
</body>
